<!-- left side start-->
<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo-icon text-center">
        <a href="/">M </a>
    </div>
    <!-- /w3l-agile -->
    <!--logo and iconic logo end-->
    <div class="left-side-inner">

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="/"><i class="lnr lnr-home"></i><span>Home</span></a></li>
            {{!--<li ><a href="#" data-toggle="modal" data-target="#myModal1"><i class="fa fa-th"></i><span>Apps</span></a></li>--}}
            <li><a href="/songs"><i class="lnr lnr-music-note"></i> <span>All Songs</span></a></li>
            <li><a href="/playlists" style="background-color: #111;"><i class="lnr lnr-indent-increase"></i> <span>Playlists</span></a>
            </li>
            <li style="float: bottom">
                <a id="exit" style="background-color: #111;"><i class="lnr lnr-exit"></i></a>
            </li>
        </ul>
        <!--sidebar nav end-->
    </div>
</div>
<!-- /w3layouts-agile -->
<!-- app-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog facebook" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="app-grids">
                    <div class="app">
                        <div class="col-md-5 app-left mpl">
                            <h3>Mosaic mobile app on your smartphone!</h3>
                            <p>Download and Avail Special Songs Videos and Audios.</p>
                            <div class="app-devices">
                                <h5>Gets the app from</h5>
                                <a href="#"><img src="images/1.png" alt=""></a>
                                <a href="#"><img src="images/2.png" alt=""></a>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-7 app-image">
                            <img src="images/apps.png" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('document').ready(function(){
        $('#exit').click(function () {
            $.ajax({
                type: 'GET',
                url: '/logout',
            }).then(
                () => $(location).attr('href', '/')
            )
        })

    });

</script>
