{{> add_song_modal }}
{{> edit_playlist_modal }}

<div id="page-wrapper">

    <div class="inner-content single">
        <!--/music-right-->

        <div class="tittle-head">
            <h3 class="tittle"> {{ playlist.name }}
                <span>
                    {{!--<button class="btn btn-primary">Add Song</button>--}}
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#editPlaylistModal">Edit</a>
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#myModal5">Add Song</a>
                    <a class="btn btn-danger" id="deletePlaylist" href="#">Delete</a>
                    <script>
                        $(document).ready(() => {
                            $('#deletePlaylist').click(e => {
                                e.preventDefault()
                                $.ajax({
                                    type: 'DELETE',
                                    url: '/playlist/{{playlist.id}}',
                                }).then(
                                        () => $(location).attr('href', '/playlists')
                                )
                            })
                        })
                    </script>
                </span>
            </h3>
            <div class="clearfix"> </div>
        </div>
        <div class="single_left">
            <!--/video-main-->
            <div class="video-main">
                <div class="video-record-list">
                    <div class="music-player">

                        <div class="player-main">
                            <div class="main-current">
                                    <div class="current-keyvisual">
                                    <img src="/images/playlist-{{#if hasImage}}{{ playlist.id }}{{ else }}default{{/if}}.png" style="height: 100%; width: 100%"/>
                                    </div>
                            </div>
                        </div>

                        <ul class="player-list">
                            <li>
                                <img
                                        class="list-cover"
                                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a1.png"
                                />
                                <div class="list-info">
                                    <div class="info-title">One Step At A Time</div>
                                    <div class="info-artist">BEARSON</div>
                                </div>
                            </li>
                            <li>
                                <img
                                        class="list-cover"
                                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a2.png"
                                />
                                <div class="list-info">
                                    <div class="info-title">Sunset Lover</div>
                                    <div class="info-artist">PETIT BISCUIT</div>
                                </div>
                            </li>
                            <li>
                                <img
                                        class="list-cover"
                                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a3.png"
                                />
                                <div class="list-info">
                                    <div class="info-title">Youth</div>
                                    <div class="info-artist">TROYE SIVAN</div>
                                </div>
                            </li>
                            <li>
                                <img
                                        class="list-cover"
                                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a4.png"
                                />
                                <div class="list-info">
                                    <div class="info-title">Working Girl</div>
                                    <div class="info-artist">LITTLE BOOTS</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /agileinfo -->
        </div>
        <div class="response">
            <h4>Responses</h4>
            <div class="media response-info">
                <div class="media-left response-text-left">
                    <a href="#">
                        <img class="media-object" src="/images/c1.jpg" alt="">
                    </a>
                    <h5><a href="#">Username</a></h5>
                </div>
                <div class="media-body response-text-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li>Sep 21, 2015</li>
                        <li><a href="single.html">Reply</a></li>
                    </ul>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="/images/c2.jpg" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul>
                                <li>Apr 17, 2016</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
                <div class="media-left response-text-left">
                    <a href="#">
                        <img class="media-object" src="/images/c3.jpg" alt="">
                    </a>
                    <h5><a href="#">Username</a></h5>
                </div>
                <div class="media-body response-text-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li>May 21,2016</li>
                        <li><a href="single.html">Reply</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
                <div class="media-left response-text-left">
                    <a href="#">
                        <img class="media-object" src="/images/c4.jpg" alt="">
                    </a>
                    <h5><a href="#">Username</a></h5>
                </div>
                <div class="media-body response-text-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li>Mar 28, 2016</li>
                        <li><a href="single.html">Reply</a></li>
                    </ul>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="/images/c5.jpg" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul>
                                <li>Feb 19, 2016</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="media response-info">
                <div class="media-left response-text-left">
                    <a href="#">
                        <img class="media-object" src="/images/c6.jpg" alt="">
                    </a>
                    <h5><a href="#">Username</a></h5>
                </div>
                <div class="media-body response-text-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li>Jan 20, 2016</li>
                        <li><a href="single.html">Reply</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- /agileits -->
        <div class="clearfix"> </div>
        <!--//music-right-->

        <div class="coment-form">
            <h4>Leave your comment</h4>
            <form action="#" method="post">
                <input type="text" value="Name " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                <input type="email" value="Email (will not be published)*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="">
                <input type="text" value="Website" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" required="">
                <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">Your Comment...</textarea>
                <input type="submit" value="Submit Comment">
            </form>
        </div>
    </div>
    <!-- /w3l-agileits-->
    <!--body wrapper start-->
    <div class="review-slider">

        <div class="tittle-head">
            <h3 class="tittle">Featured Albums <span class="new"> New</span></h3>
            <div class="clearfix"> </div>
        </div>
        <ul id="flexiselDemo1">
            <li>
                <a href="single.html"><img src="/images/v1.jpg" alt=""/></a>
                <div class="slide-title"><h4>Adele21 </div>
                <div class="date-city">
                    <h5>Jan-02-16</h5>
                    <div class="buy-tickets">
                        <a href="single.html">READ MORE</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="single.html"><img src="/images/v2.jpg" alt=""/></a>
                <div class="slide-title"><h4>Adele21</h4></div>
                <div class="date-city">
                    <h5>Jan-02-16</h5>
                    <div class="buy-tickets">
                        <a href="single.html">READ MORE</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="single.html"><img src="/images/v3.jpg" alt=""/></a>
                <div class="slide-title"><h4>Shomlock</h4></div>
                <div class="date-city">
                    <h5>Jan-02-16</h5>
                    <div class="buy-tickets">
                        <a href="single.html">READ MORE</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="single.html"><img src="/images/v4.jpg" alt=""/></a>
                <div class="slide-title"><h4>Stuck on a feeling</h4></div>
                <div class="date-city">
                    <h5>Jan-02-16</h5>
                    <div class="buy-tickets">
                        <a href="single.html">READ MORE</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="single.html"><img src="/images/v5.jpg" alt=""/></a>
                <div class="slide-title"><h4>Ricky Martine </h4></div>
                <div class="date-city">
                    <h5>Jan-02-16</h5>
                    <div class="buy-tickets">
                        <a href="single.html">READ MORE</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="single.html"><img src="/images/v6.jpg" alt=""/></a>
                <div class="slide-title"><h4>Ellie Goluding </h4></div>
                <div class="date-city">
                    <h5>Jan-02-16</h5>
                    <div class="buy-tickets">
                        <a href="single.html">READ MORE</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="single.html"><img src="/images/v6.jpeg" alt=""/></a>
                <div class="slide-title"><h4>Fifty Shades </h4></div>
                <div class="date-city">
                    <h5>Jan-02-16</h5>
                    <div class="buy-tickets">
                        <a href="single.html">READ MORE</a>
                    </div>
                </div>
            </li>
        </ul>
        <script type="text/javascript">
            $(window).load(function() {

                $("#flexiselDemo1").flexisel({
                    visibleItems: 5,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: false,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint:480,
                            visibleItems: 2
                        },
                        landscape: {
                            changePoint:640,
                            visibleItems: 3
                        },
                        tablet: {
                            changePoint:800,
                            visibleItems: 4
                        }
                    }
                });
            });
        </script>
        <script type="text/javascript" src="/js/jquery.flexisel.js"></script>
    </div>

</div>
